/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/*$header-bg: #ffc800;*/
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #000;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

/*
input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}
*/
::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/layout
 * ---
 */
html {
  font-size: 14px;
  height: 100%; }
  @media (max-width: 1600px) {
    html {
      font-size: 13px; } }
  @media (max-width: 1400px) {
    html {
      font-size: 12px; } }

body {
  background: #3e3e3e;
  height: 100%;
  min-width: 720px; }

option, select {
  color: #fff;
  background: #282828; }

.btn {
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 500px;
  padding: 15px;
  min-width: 130px; }

.btn-deafault {
  background-color: #2ebd59; }

.borderBottom {
  border-bottom: 1px solid #939393;
  margin-bottom: 20px; }

[role="link"]:hover {
  cursor: pointer; }

input:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff; }

::placeholder {
  /* Most modern browsers support this now. */
  color: #fff; }

/**
 * partials/header
 * ---
 */
#register {
  background: #000;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }
  #register #login {
    width: 80%;
    margin: 0 auto;
    display: flex; }
    #register #login * {
      color: #fff;
      font-family: "Helvetica Neue", "Heltevica", "Arial", sans-serif;
      font-weight: normal;
      line-height: 1em;
      box-sizing: border-box; }
    #register #login #inputContainer {
      padding: 20px;
      width: 50%;
      border-right: 1px solid #999; }
      #register #login #inputContainer .hasAccountText {
        text-align: center; }
        #register #login #inputContainer .hasAccountText span {
          font-weight: bold;
          font-size: 12px;
          transition: all .4s; }
          #register #login #inputContainer .hasAccountText span:hover {
            transform: scale(1.2);
            cursor: pointer; }
      #register #login #inputContainer .errorMessage {
        font-size: 12px;
        color: #07d159;
        display: block; }
      #register #login #inputContainer #registerForm,
      #register #login #inputContainer #loginForm {
        display: none; }
      #register #login #inputContainer h2 {
        text-align: center; }
      #register #login #inputContainer input[type="text"],
      #register #login #inputContainer input[type="email"],
      #register #login #inputContainer input[type="password"] {
        display: block;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #fff;
        height: 27px;
        line-height: 27px;
        width: 100%; }
      #register #login #inputContainer label {
        color: #a0a0a0;
        font-size: 13px;
        margin-top: 15px;
        display: block; }
      #register #login #inputContainer button {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 250px;
        color: #fff;
        display: block;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 20px auto;
        height: 41px;
        width: 100%;
        transition: all .4s; }
        #register #login #inputContainer button:hover {
          cursor: pointer;
          transform: scale(1.05); }
    #register #login #loginText {
      width: 100%;
      padding: 50px 25px;
      margin-left: 20px; }
      #register #login #loginText h1 {
        color: #07d159;
        font-size: 60px;
        font-weight: bold;
        margin: 0; }
      #register #login #loginText h2 {
        color: #fff;
        margin: 35px 0; }
      #register #login #loginText ul {
        padding: 0; }
        #register #login #loginText ul .register-li {
          display: flex;
          align-items: center; }
        #register #login #loginText ul i {
          font-family: "FontAwesome" !important;
          font-size: 40px;
          color: #07d159; }
        #register #login #loginText ul li {
          font-size: 20px;
          list-style-type: none;
          padding: 15px; }

#mainContainer #topContainer {
  min-height: 100%;
  width: 100%; }
  #mainContainer #topContainer #navBarContainer {
    background: #000;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; }
    #mainContainer #topContainer #navBarContainer .navbar {
      padding: 25px;
      display: flex;
      flex-direction: column; }
      #mainContainer #topContainer #navBarContainer .navbar .logo {
        display: flex;
        justify-content: center;
        color: #fff;
        margin-bottom: 20px; }
      #mainContainer #topContainer #navBarContainer .navbar i.fa-microphone {
        color: #fff;
        font-size: 32px; }
      #mainContainer #topContainer #navBarContainer .navbar i.fa-search {
        color: #fff;
        font-size: 25px; }
      #mainContainer #topContainer #navBarContainer .navbar .group {
        border-top: 1px solid #a0a0a0;
        padding: 10px 0; }
        #mainContainer #topContainer #navBarContainer .navbar .group .navItem {
          padding: 10px 0;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 2px;
          display: block;
          text-align: center; }
          #mainContainer #topContainer #navBarContainer .navbar .group .navItem .navItemLink {
            color: #a0a0a0;
            text-decoration: none;
            transition: all .4s; }
            #mainContainer #topContainer #navBarContainer .navbar .group .navItem .navItemLink:hover {
              color: #fff; }
  #mainContainer #topContainer #mainViewContainer {
    margin-left: 20vw;
    padding-bottom: 90px;
    width: calc(100% - 20vw); }
    #mainContainer #topContainer #mainViewContainer #mainContent {
      padding: 0 20px;
      color: #fff; }
      #mainContainer #topContainer #mainViewContainer #mainContent .pageHeadingBig {
        text-align: center; }
      #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer {
        display: flex;
        flex-wrap: wrap; }
        #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem {
          box-sizing: border-box;
          width: calc(25% - 20px);
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px; }
          @media (max-width: 1200px) {
            #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem {
              width: calc(33% - 20px);
              margin-left: 20px; } }
          @media (max-width: 1024px) {
            #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem {
              width: calc(50% - 20px);
              margin-left: 20px; } }
          @media (max-width: 500px) {
            #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem {
              width: 100%;
              margin-left: 0px; } }
          #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem img {
            width: 100%;
            margin-bottom: 20px;
            max-width: 200px; }
            @media (max-width: 500px) {
              #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem img {
                display: block;
                width: 50%; } }
          #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem a {
            transition: all .4s;
            text-decoration: none;
            color: #fff; }
            #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem a :hover ~ .gridViewInfo {
              transform: scale(1.15) skewX(8deg) skewY(-2deg); }
          #mainContainer #topContainer #mainViewContainer #mainContent .gridViewContainer .gridViewItem .gridViewInfo {
            font-weight: 300;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            transition: all .4s; }
      #mainContainer #topContainer #mainViewContainer #mainContent .optionsMenu {
        background: #282828;
        width: 200px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        z-index: 1000;
        display: none;
        position: fixed; }
        #mainContainer #topContainer #mainViewContainer #mainContent .optionsMenu .item {
          width: 100%;
          padding: 12px 20px;
          box-sizing: border-box;
          font-weight: 400;
          color: #a0a0a0;
          cursor: pointer;
          height: 40px; }
          #mainContainer #topContainer #mainViewContainer #mainContent .optionsMenu .item:hover {
            color: #fff; }

.colorSection {
  background-color: #000; }
  .colorSection .colorSectionItem {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 5px 0; }
    .colorSection .colorSectionItem h3 {
      margin-right: 20px;
      min-width: 350px;
      text-align: center; }
    .colorSection .colorSectionItem .input-group {
      width: 100px; }
      .colorSection .colorSectionItem .input-group .input-group-addon i {
        width: 50px;
        height: 50px;
        border: 5px solid #fff;
        border-radius: 3px; }
  .colorSection .btn {
    display: block;
    margin: 0 auto; }

.entityInfo {
  padding: 40px 0 10px 0;
  display: flex; }
  .entityInfo .leftSection {
    width: 30%;
    display: flex;
    justify-content: center; }
  .entityInfo .rightSection {
    margin-left: 20px; }
    .entityInfo .rightSection h2 {
      margin-top: 0; }
    .entityInfo .rightSection p {
      color: #939393;
      margin: 5px 0; }

.tracklistContainer .tracklist {
  list-style-type: none; }
  .tracklistContainer .tracklist .trackListRow {
    display: flex;
    margin: 10px 0;
    padding: 5px;
    color: #939393; }
    .tracklistContainer .tracklist .trackListRow:hover {
      background-color: #939393;
      cursor: pointer;
      color: #fff; }
    .tracklistContainer .tracklist .trackListRow:hover > .trackCount > .trackNumber {
      display: none; }
    .tracklistContainer .tracklist .trackListRow:hover > .trackCount .controlButton,
    .tracklistContainer .tracklist .trackListRow:hover > .trackOptions {
      opacity: 1;
      cursor: pointer; }
    .tracklistContainer .tracklist .trackListRow .trackCount {
      position: relative;
      width: 10%; }
      .tracklistContainer .tracklist .trackListRow .trackCount .controlButton {
        position: absolute;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        left: -2px;
        opacity: 0; }
        .tracklistContainer .tracklist .trackListRow .trackCount .controlButton:hover {
          cursor: pointer;
          transform: scale(1.03); }
        .tracklistContainer .tracklist .trackListRow .trackCount .controlButton i {
          font-size: 18px;
          color: #fff; }
          .tracklistContainer .tracklist .trackListRow .trackCount .controlButton i.fa-play-circle, .tracklistContainer .tracklist .trackListRow .trackCount .controlButton i.fa-play-pause {
            font-size: 24px; }
    .tracklistContainer .tracklist .trackListRow .trackInfo {
      width: 70%; }
    .tracklistContainer .tracklist .trackListRow .trackOptions {
      width: 20%;
      background-color: transparent;
      border: none;
      margin: 0 15px;
      transition: all .4s;
      opacity: 0;
      text-align: right; }
    .tracklistContainer .tracklist .trackListRow .trackDuration {
      width: 10%;
      text-align: center; }

.searchContainer {
  background-color: #242424;
  padding: 20px 28px; }
  .searchContainer h4 {
    margin: 0;
    font-weight: 300; }
  .searchContainer .searchInput {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 2px; }

.artistsContainer .searchResultRow {
  padding: 15px 10px; }
  .artistsContainer .searchResultRow:hover {
    background-color: #2a2a2a; }

.searchWrapper h2 {
  text-align: center; }

.searchWrapper .noResults {
  margin: 15px;
  color: red;
  display: block;
  font-weight: bold; }

.searchWrapper .trackListContainer .trackList {
  padding-left: 0; }

.playlistsContainer .gridViewContainer h2 {
  width: 100%;
  text-align: center; }

.playlistsContainer .gridViewContainer .buttonItems {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%; }
  .playlistsContainer .gridViewContainer .buttonItems .btn {
    margin-bottom: 20px; }

.playlistsContainer .gridViewContainer .gridViewItem .fa-music {
  font-size: 100px;
  margin-bottom: 10px;
  color: #939393;
  border: 3px solid #939393;
  padding: 20px; }

.playListPage .leftSection .fa-music {
  font-size: 200px;
  margin-bottom: 10px;
  color: #939393;
  border: 3px solid #939393;
  padding: 20px; }

.playListPage .rightSection .btn {
  margin-top: 20px; }

.settingsWrapper .entityInfo {
  flex-direction: column; }
  .settingsWrapper .entityInfo .centerSection {
    width: 100%; }
    .settingsWrapper .entityInfo .centerSection .userInfo h1 {
      text-align: center; }
  .settingsWrapper .entityInfo .buttonItems {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    width: 50%; }

#nowPlayingBarContainer {
  background-color: #282828;
  width: 100%;
  position: fixed;
  min-width: 600px;
  bottom: 0; }
  #nowPlayingBarContainer #nowPlayingBar {
    display: flex;
    padding: 16px;
    box-sizing: border-box; }
    #nowPlayingBarContainer #nowPlayingBar .content {
      width: 100%;
      height: 57px; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft,
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight {
      width: 30%;
      min-width: 180px; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content {
      display: flex; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .albumLink .albumArtwork {
        height: 100%;
        max-width: 57px;
        margin-right: 15px;
        background-size: cover; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .trackInfo {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .trackInfo .trackName {
          font-size: 17px; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .trackInfo .artistName {
          font-size: 14px;
          color: #a0a0a0; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter {
      width: 40%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton {
          background-color: transparent;
          border: none;
          margin: 0 15px;
          transition: all .1s; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton.pause {
            display: none; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton:hover {
            cursor: pointer;
            transform: scale(1.03); }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i {
            font-size: 18px;
            color: #fff; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i.fa-play-circle, #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i.fa-pause {
              font-size: 32px; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i.fa-repeat-active, #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i.fa-shuffle-active {
              color: #2ebd59; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar {
        display: flex; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressBar {
          width: 100%;
          height: 16px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressBar .progressBarBg {
            background-color: #404040;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            display: flex;
            align-items: center; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressBar .progressBarBg .progress {
              background-color: #a0a0a0;
              height: 4px;
              width: 0;
              border-radius: 2px; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressTime {
          color: #a0a0a0;
          font-size: 11px;
          min-width: 40px;
          text-align: center; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight {
      display: flex;
      align-items: center; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .controlButton {
        background-color: transparent;
        border: none;
        margin: 0 15px;
        transition: all .1s; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .controlButton i {
          font-size: 32px;
          color: #eee; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar {
        display: flex;
        height: 57px;
        align-items: center; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar .progressBar {
          width: 180px;
          height: 16px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar .progressBar .progressBarBg {
            background-color: #404040;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            display: flex;
            align-items: center; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar .progressBar .progressBarBg .progress {
              background-color: #a0a0a0;
              height: 4px;
              width: 0;
              border-radius: 2px; }

.artistWrapper h2 {
  text-align: center; }

.artistWrapper .centerSection {
  width: 100%; }
  .artistWrapper .centerSection .artistInfo {
    text-align: center; }
    .artistWrapper .centerSection .artistInfo .artistName {
      color: #fff; }

.userDetails {
  padding: 20px; }
  .userDetails .container h2 {
    text-align: center; }
  .userDetails .container input[type="text"],
  .userDetails .container input[type="password"],
  .userDetails .container input[type="email"],
  .userDetails .container .btn {
    display: block;
    margin: 16px auto; }
  .userDetails .container input[type="text"],
  .userDetails .container input[type="password"],
  .userDetails .container input[type="email"] {
    height: 50px;
    width: 100%;
    background: #4e4e4e;
    font-size: 18px;
    font-weight: 300;
    padding: 0 30px;
    color: #fff;
    border: none;
    outline: none; }
  .userDetails .container .errorMessage {
    color: #2ebd59; }
  .userDetails .container .red {
    color: red; }
