/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/*$header-bg: #ffc800;*/
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #000;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

/*
input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}
*/
::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/layout
 * ---
 */
html {
  font-size: 16px;
  height: 100%; }
  @media (max-width: 1600px) {
    html {
      font-size: 15px; } }
  @media (max-width: 1400px) {
    html {
      font-size: 14px; } }

body {
  background: #fee;
  height: 100%; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff; }

::placeholder {
  /* Most modern browsers support this now. */
  color: #fff; }

/**
 * partials/header
 * ---
 */
#register {
  background: #000;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }
  #register #login {
    width: 80%;
    margin: 0 auto;
    display: flex; }
    #register #login * {
      color: #fff;
      font-family: "Helvetica Neue", "Heltevica", "Arial", sans-serif;
      font-weight: normal;
      line-height: 1em;
      box-sizing: border-box; }
    #register #login #inputContainer {
      padding: 20px;
      width: 50%;
      border-right: 1px solid #999; }
      #register #login #inputContainer .hasAccountText {
        text-align: center; }
        #register #login #inputContainer .hasAccountText span {
          font-weight: bold;
          font-size: 12px;
          transition: all .4s; }
          #register #login #inputContainer .hasAccountText span:hover {
            transform: scale(1.2);
            cursor: pointer; }
      #register #login #inputContainer .errorMessage {
        font-size: 12px;
        color: #07d159;
        display: block; }
      #register #login #inputContainer #registerForm,
      #register #login #inputContainer #loginForm {
        display: none; }
      #register #login #inputContainer h2 {
        text-align: center; }
      #register #login #inputContainer input[type="text"],
      #register #login #inputContainer input[type="email"],
      #register #login #inputContainer input[type="password"] {
        display: block;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #fff;
        height: 27px;
        line-height: 27px;
        width: 100%; }
      #register #login #inputContainer label {
        color: #a0a0a0;
        font-size: 13px;
        margin-top: 15px;
        display: block; }
      #register #login #inputContainer button {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 250px;
        color: #fff;
        display: block;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 20px auto;
        height: 41px;
        width: 100%;
        transition: all .4s; }
        #register #login #inputContainer button:hover {
          cursor: pointer;
          transform: scale(1.05); }
    #register #login #loginText {
      width: 100%;
      padding: 50px 25px;
      margin-left: 20px; }
      #register #login #loginText h1 {
        color: #07d159;
        font-size: 60px;
        font-weight: bold;
        margin: 0; }
      #register #login #loginText h2 {
        color: #fff;
        margin: 35px 0; }
      #register #login #loginText ul {
        padding: 0; }
        #register #login #loginText ul .register-li {
          display: flex;
          align-items: center; }
        #register #login #loginText ul i {
          font-family: "FontAwesome" !important;
          font-size: 40px;
          color: #07d159; }
        #register #login #loginText ul li {
          font-size: 20px;
          list-style-type: none;
          padding: 15px; }

#mainContainer #topContainer {
  min-height: 100%;
  width: 100%; }
  #mainContainer #topContainer #navBarContainer {
    background: #000;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; }
    #mainContainer #topContainer #navBarContainer .navbar {
      padding: 25px;
      display: flex;
      flex-direction: column; }
      #mainContainer #topContainer #navBarContainer .navbar a {
        display: flex;
        justify-content: center; }
      #mainContainer #topContainer #navBarContainer .navbar i {
        color: #fff;
        font-size: 32px; }

#nowPlayingBarContainer {
  background-color: #282828;
  width: 100%;
  position: fixed;
  min-width: 600px;
  bottom: 0; }
  #nowPlayingBarContainer #nowPlayingBar {
    display: flex;
    padding: 16px;
    box-sizing: border-box; }
    #nowPlayingBarContainer #nowPlayingBar .content {
      width: 100%;
      height: 57px; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft,
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight {
      width: 30%;
      min-width: 180px; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content {
      display: flex; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .albumLink .albumArtwork {
        height: 100%;
        max-width: 57px;
        margin-right: 15px;
        background-size: cover; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .trackInfo {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .trackInfo .trackName {
          font-size: 17px; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingLeft .content .trackInfo .artistName {
          font-size: 14px;
          color: #a0a0a0; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter {
      width: 40%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton {
          background-color: transparent;
          border: none;
          margin: 0 15px;
          transition: all .1s; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton:hover {
            cursor: pointer;
            transform: scale(1.03); }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i {
            font-size: 18px;
            color: #fff; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i.fa-play-circle, #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playerControls .buttons .controlButton i.fa-play-pause {
              font-size: 32px; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar {
        display: flex; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressBar {
          width: 100%;
          height: 16px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressBar .progressBarBg {
            background-color: #404040;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            display: flex;
            align-items: center; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressBar .progressBarBg .progress {
              background-color: #a0a0a0;
              height: 4px;
              width: 0;
              border-radius: 2px; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingCenter .playbackBar .progressTime {
          color: #a0a0a0;
          font-size: 11px;
          min-width: 40px;
          text-align: center; }
    #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight {
      display: flex;
      align-items: center; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .controlButton {
        background-color: transparent;
        border: none;
        margin: 0 15px;
        transition: all .1s; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .controlButton i {
          font-size: 32px;
          color: #eee; }
      #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar {
        display: flex;
        height: 57px;
        align-items: center; }
        #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar .progressBar {
          width: 180px;
          height: 16px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar .progressBar .progressBarBg {
            background-color: #404040;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            display: flex;
            align-items: center; }
            #nowPlayingBarContainer #nowPlayingBar #nowPlayingRight .volumeBar .progressBar .progressBarBg .progress {
              background-color: #a0a0a0;
              height: 4px;
              width: 0;
              border-radius: 2px; }
