/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/*$header-bg: #ffc800;*/
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #000;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

/*
input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}
*/
::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/layout
 * ---
 */
html {
  font-size: 16px; }
  @media (max-width: 1600px) {
    html {
      font-size: 15px; } }
  @media (max-width: 1400px) {
    html {
      font-size: 14px; } }

body {
  background: #e6b516; }

/**
 * partials/header
 * ---
 */
#register {
  background: #000;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; }
  #register #login {
    width: 80%;
    margin: 0 auto; }
    #register #login * {
      color: #fff;
      font-family: "Helvetica Neue", "Heltevica", "Arial", sans-serif;
      font-weight: normal;
      line-height: 1em;
      box-sizing: border-box; }
