.entityInfo {
    padding: 40px 0 10px 0;
    display: flex;

    & .leftSection {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    & .rightSection {
        margin-left: 20px;

        & h2 {
            margin-top: 0;
        }

        & p {
            color: #939393;
            margin: 5px 0;
        }
    }
}

.tracklistContainer {

    & .tracklist {

        list-style-type: none;

        & .trackListRow {
            display: flex;
            margin: 10px 0;
            padding: 5px;
            color: #939393;

            &:hover {
                background-color: #939393;
                cursor: pointer;
                color: $white;
            }

            &:hover>.trackCount>.trackNumber {
                display: none;
            }

            &:hover>.trackCount .controlButton,
            &:hover>.trackOptions {
                opacity: 1;
                cursor: pointer;
            }

            & .trackCount {
                position: relative;
                width: 10%;

                & .controlButton {
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    padding: 0;
                    left: -2px;

                    opacity: 0;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.03);

                    }

                    & i {
                        font-size: 18px;
                        color: $white;

                        &.fa-play-circle,
                        &.fa-play-pause {
                            font-size: 24px;
                        }
                    }
                }
            }

            & .trackInfo {
                width: 70%;
            }

            & .trackOptions {
                width: 20%;
                background-color: transparent;
                border: none;
                margin: 0 15px;
                transition: all .4s;
                opacity: 0;
                text-align: right;
            }

            & .trackDuration {
                width: 10%;
                text-align: center;
            }




        }



    }
}