.centerSection{
    width: 100%;
    & .artistInfo{
        text-align: center;
        & .artistName{
            color: $white;
        }
        & .headerbuttons{
            
        }
    }
}