/**
 * partials/layout
 * ---
 */
html {
    font-size: 14px;
    height: 100%;

    @include desktop-large-down {

        font-size: 13px;
    }

    @include desktop-medium-down {

        font-size: 12px;
    }
}

body {
    background: #3e3e3e;
    height: 100%;
    min-width: 720px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $white;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: $white;
}