/**
 * partials/layout
 * ---
 */
html {
    font-size: 16px;


    @include desktop-large-down {

        font-size: 15px;
    }

    @include desktop-medium-down {

        font-size: 14px;
    }



}

body {
    background: #e6b516;
    margin: 10px;

}