.playlistsContainer{

    & .gridViewContainer{

        & h2{
            width: 100%;
            text-align: center;
        }

        & .buttonItems{
              display: block;
             
              margin: 0 auto;
            & .btn{
              margin-bottom: 20px;
            }

        }

    }
}