.playlistsContainer{

    & .gridViewContainer{

        & h2{
            width: 100%;
            text-align: center;
        }

        & .buttonItems{
             display: flex;
             margin: 0 auto;
             justify-content: center;
             width: 100%;
             
            & .btn{
              margin-bottom: 20px;
            }

        }

        & .gridViewItem{
              & .fa-music {
                  font-size: 100px;
                  margin-bottom: 10px;
                  color: #939393;
                  border: 3px solid #939393;
                  padding: 20px;
              }
        }
      

    }
}