#register{
    background: #000;
    background-image: url("../assets/images/bg.jpg");
    background-position: center;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100%; 

    & #login{
        width: 80%;
        margin: 0 auto;
        & *{
            color:#fff; 
            font-family: "Helvetica Neue", "Heltevica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 1em;
            box-sizing: border-box;       
        }
  
        & #inputContainer{
            padding: 20px;
            float:left;
            border-right: 1px solid #999;

            & h2{
                text-align: center;
            }
            & input[type="text"],
            & input[type="email"],
            & input[type="password"]{
                display: block;
                background-color: transparent;
                border:0;
                border-bottom: 1px solid #fff;
                height: 27px;
                line-height: 27px;
                width: 100%;
            }
        }


    }

}