#register{
    background: $black;
    background-image: url("../assets/images/bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; 

 
    & #login{
        width: 80%;
        margin: 0 auto;
        display:flex;
        & *{
            color:$white;
            font-family: "Helvetica Neue", "Heltevica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 1em;
            box-sizing: border-box;       
        }
  
        & #inputContainer{
            padding: 20px;
            width: 50%;
            border-right: 1px solid #999;
            & .hasAccountText{
                text-align: center;
                & span{
                    font-weight: bold;
                    font-size: 12px;  
                    transition: all .4s;
                    &:hover{
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
            & .errorMessage{
                font-size:12px; 
                color: #07d159;  
                display: block;
            }
            & #registerForm,
            & #loginForm{
                display: none;
            }

            & h2{
                text-align: center;
            }
            & input[type="text"],
            & input[type="email"],
            & input[type="password"]{
                display: block;
                background-color: transparent;
                border:0;
                border-bottom: 1px solid $white;
                height: 27px;
                line-height: 27px;
                width: 100%;
            }
            & label{
                color: #a0a0a0;
                font-size: 13px;
                margin-top:15px;
                display: block;
            }
            & button{
                background-color: transparent;
                border: 2px solid $white;
                border-radius: 250px;
                color: $white;
                display: block;
                font-size: 14px;
                letter-spacing: 1px;
                margin: 20px auto;
                height: 41px;
                width:100%;
                transition: all .4s;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }

        & #loginText{
            width:100%;
            padding: 50px 25px;
            margin-left:20px;


            & h1{
                color: #07d159;
                font-size: 60px;
                font-weight: bold;
                margin:0;
           
            }
            & h2{
                color: $white;
                margin: 35px 0;
               
            }

            & ul{
                padding: 0;
                & .register-li{
                    display: flex;
                    align-items: center;
                }
                & i{
                    font-family: "FontAwesome" !important;
                    font-size:40px;
                    color: #07d159;
                }
                & li{
                    font-size: 20px;
                    list-style-type: none;
                    padding: 15px;
                }
            }
        }

    }

}