.searchContainer{
    background-color: #242424;
    padding: 20px 28px;

    & h4{
        margin: 0;
        font-weight: 300;
    }
    & .searchInput{
        width: 100%;
        background: transparent;
        border:none;
        color: $white;
        font-weight: 700;
        font-size: 60px;
        letter-spacing: 2px;
    }


}
.artistsContainer{

    & .searchResultRow{
        padding: 15px 10px;

        &:hover{
            background-color: #2a2a2a;
        }
    }
}
.searchWrapper{

    & h2{
        text-align: center;
    }
    & .noResults{
        margin: 15px;
        color: red;
        display: block;
        font-weight: bold;
    }

    & .trackListContainer .trackList{
        padding-left: 0;
    }
}